{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}

<script src="https://d3js.org/d3.v4.min.js"></script>

<div id="main">
    <svg width="900" height="900">

    </svg>
</div>



{% csrf_token %}
<script>
    var analysis = JSON.parse("{{Analysis|escapejs}}");
    var dumps = JSON.parse("{{Dump|escapejs}}");
    // var processes = JSON.parse("{{Process|escapejs}}");
    // var commands = JSON.parse("{{Command|escapejs}}");
    // var connections = JSON.parse("{{Connection|escapejs}}");
    // var files = JSON.parse("{{File|escapejs}}");
    const hiddenFields = ["isHidden", "isCollapsed", "children"];
    const imgPath = "{% static '/images/analyser/' %}";

    var svg = d3.select("svg");
    var width = svg.attr("width");
    var height = svg.attr("height");
    var nodes = [{ name: "A" }, { name: "B" }];
    var edges = [{ source: "A", target: "B" }];

    var simulation = d3.forceSimulation()
    .force("link", d3.forceLink().id(function(d) { return d.id; }))
    .force("charge", d3.forceManyBody())
    .force("center", d3.forceCenter(width / 2, height / 2));

    var node = svg.append("g")
        .selectAll("circle")
        .data(graph.nodes)
        .enter()
        .append("circle")
        .attr("r", 5)

    $(document).ready(function () {
        $('.container').show();
        $('.container-fluid').show();
        $('.spinner-main').hide();

    });
</script>
{% endblock content %}