{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}

<script src="https://cdn.anychart.com/releases/v8/js/anychart-base.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-graph.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-data-adapter.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-ui.min.js"></script>
<script src="https://cdn.anychart.com/releases/v8/js/anychart-exports.min.js"></script>
<link href="https://cdn.anychart.com/releases/v8/css/anychart-ui.min.css" type="text/css" rel="stylesheet">
<link href="https://cdn.anychart.com/releases/v8/fonts/css/anychart-font.min.css" type="text/css" rel="stylesheet">
<style type="text/css">
    html,
    body,
    #chartdiv {
        position: absolute;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        z-index: 1;
    }

    #filter {
        position: absolute;
        margin-left: 20px;
        z-index: 2;
    }
</style>
<link rel="stylesheet" href="{% static '/css/analyser.css' %}">

<div id="chartdiv"></div>
<div id="filter">
    <fieldset>
        <legend>Filters</legend>
        <div>
            <input type="checkbox" id="suspicious" name="suspicious">
            <label for="suspicious">Suspicious</label>
        </div>

        <div>
            <input type="checkbox" id="commands" name="commands" checked>
            <label for="commands">Commands</label>
        </div>
    </fieldset>
</div>

{% csrf_token %}
<script>

    var groups = JSON.parse("{{groups|escapejs}}");
    var dataTree = JSON.parse("{{data|escapejs}}");
    var groupsColors = {};

    function treeToGraph(tree) {
        var nodes = [];
        var edges = [];
        nodes.push({ 'name': tree.name, 'id': tree.id, 'group': tree.group, 'isHidden': tree.isHidden });
        tree.children.forEach(element => {
            if (!(element.isHidden)) {
                edges.push({ 'from': tree.id, 'to': element.id });
                data = treeToGraph(element);
                nodes = nodes.concat(data['nodes']);
                edges = edges.concat(data['edges']);
            }
        });
        return { 'nodes': nodes, 'edges': edges };
    }

    var data = treeToGraph(dataTree);
    var chart = anychart.graph(data);

    function findIdInTree(tree, id) {
        for (var child of tree['children']) {
            if (child.id == id) {
                return child;
            }
        }
        for (var child of tree.children) {
            result = findIdInTree(child, id);
            if (result !== null) {
                return result;
            }
        }
        return null;
    }


    function updateGraph() {
        //TODO This forces redraw of the graph look for a better way, this one is too slow
        chart.data(treeToGraph(dataTree));
    }

    function hideChildren(parent, value) {
        parent['children'].forEach(element => {
            element.isHidden = value;
            hideChildren(element, value);
        });
    }

    function filter(){
        function recursiveSearch(parent) {
            for (var child of parent['children']) {
                child.isHidden = false;
                if (isCommand(child) && !document.getElementById('commands').checked){
                    child.isHidden = true;
                    hideChildren(child, true);
                }
                else if(child.group === "Process" && !isMalicious(child) && document.getElementById('suspicious').checked){
                    child.isHidden = true;
                    hideChildren(child, true);
                }
                else {
                    recursiveSearch(child);
                }
            }
        }

        recursiveSearch(dataTree);
        updateGraph();
    }

    function isCommand(node){
        return node.group === "Command";
    }

    function isMalicious(node){
        return node.is_malicious === true;
    }

    document.getElementById('commands').addEventListener('change', function (event) {
        filter();
    });

    document.getElementById('suspicious').addEventListener('change', function (event) {
        filter();
    });

    anychart.onDocumentReady(function () {

        chart.listen("click", function (e) {
            const csrf = document.getElementsByName('csrfmiddlewaretoken');
            var tag = e.domTarget.tag;
            if (tag) {
                if (tag.type === 'node') {
                    const fd = new FormData();
                    fd.append('csrfmiddlewaretoken', csrf[0].value);
                    fd.append('id',tag.id);
                    $.ajax({
                        type:'POST',
                        url: "{% url 'get_process_info' %}",
                        enctype: 'multipart/form-data',
                        processData: false,
                        contentType: false,
                        data: fd,
                        success: function (data) {
                          console.log(data);
                        },
                        error: function (error) {
                          console.log(error);  
                        },
                    });
                }
            
            }
        });

        chart.listen("dblClick", function (e) {
            var tag = e.domTarget.tag;
            if (tag) {
                console.log(tag);
                if (tag.type === 'node') {
                    node = findIdInTree(dataTree, tag.id);
                    console.log(node);
                    if (node.isCollapsed) {
                        hideChildren(node, false);
                        node.isCollapsed = false;
                    }
                    else {
                        hideChildren(node, true);
                        node.isCollapsed = true;
                    }
                }
            }
            updateGraph();
        });

        var imgPath = "{% static '/images/analyser/' %}";

        for (var i = 0; i < groups.length; i++) {
            var group = chart.group(groups[i]);

            if (typeof group !== 'undefined') {
                group
                    .labels()
                    .enabled(true)
                    .anchor('left-center')
                    .position('right-center')
                    .padding(0, -5)
                    .fontColor(anychart.palettes.defaultPalette[i]);
                groupsColors[groups[i]] = anychart.palettes.defaultPalette[i];
                group.shape('square');
                group.height(18);
                group.fill({ src: imgPath + groups[i] + ".svg" });
                group.stroke(null);
            }
        }

        chart.nodes().labels({ format: "{%name}" });

        // set container id for the chart
        chart.container('chartdiv').draw();
    });

    $(document).ready(function () {
        $('.container').show();
        $('.container-fluid').show();
        $('.spinner-main').hide();

    });

</script>
{% endblock content %}