{% extends "dashboard/base.html" %}
{% load static %}
{% block content%}

<script src="https://d3js.org/d3.v7.min.js"></script>
<link rel="stylesheet" href="{% static '/css/analyser.css' %}">

<div id="main">
    <svg id="graph" preserveAspectRatio="xMinYMin meet">
        <g class="links"></g>
        <g class="nodes"></g>
    </svg>
    <div id="filter">
        <fieldset>
            <legend>Filters</legend>
            <div>
                <input class="filter-checkbox" type="checkbox" id="suspicious" name="suspicious">
                <label for="suspicious">Suspicious Only</label>
            </div>

            <div>
                <input class="filter-checkbox" type="checkbox" id="commands" name="commands" checked>
                <label for="commands">Commands</label>
            </div>
            <div>
                <input class="filter-checkbox" type="checkbox" id="connections" name="connections" checked>
                <label for="connections">Connections</label>
            </div>
            <div>
                <input class="filter-checkbox" type="checkbox" id="dlls" name="dlls" checked>
                <label for="dlls">Dlls</label>
            </div>
        </fieldset>
    </div>
    <div id="sidebar" class="sidebar">
        <div class="sidebar-head">
            <img id="sidebar-icon" src="" alt="Icon" class="image" width="50">
            <label id="name"></label>
            <a href="javascript:void(0)" class="closebtn" onclick="closeSidebar()">&times;</a>
        </div>
        <table id="sidebar-table">
        </table>
    </div>
</div>



{% csrf_token %}
<script>
    var analysis = JSON.parse("{{Analysis|escapejs}}");
    var dumps = JSON.parse("{{Dump|escapejs}}");
    var processes = JSON.parse("{{Process|escapejs}}");
    var commands = JSON.parse("{{Command|escapejs}}");
    var connections = JSON.parse("{{Connection|escapejs}}");
    var files = JSON.parse("{{File|escapejs}}");
    var dlls = JSON.parse("{{Dll|escapejs}}");
    for (dll of dlls){
        dll["is_clamav_suspicious"] = dll.fields.dll['0'];
    }
    const imgPath = "{% static '/images/analyser/' %}";

    var svg = d3.select("#graph");
    var nodesStore = [];
    var linksStore = [];
    var hidden_fields = ["children", "investigation_id"]
    var extensible_fields = ["ps_list", "cmdline", "netscan", "file", "dll"]

    function createNodes() {
        // Create nodes from data
        for (let node of analysis) {
            nodesStore.push(node);
        }
        for (let node of dumps) {
            nodesStore.push(node);
        }
        for (let node of processes) {
            nodesStore.push(node);
        }
        for (let node of commands) {
            nodesStore.push(node);
        }
        for (let node of connections) {
            nodesStore.push(node);
        }
        for (let node of dlls){
            nodesStore.push(node);
        }
        for (let node of nodesStore) {
            node['id'] = node['pk'];
            delete node['pk'];
        }

        // Set nodes static attributes
        var u = d3.select('.nodes')
            .selectAll('image')
            .data(nodesStore.filter(node => !node.filtered), function (d) { return d.id; })
            .join('image')
            .attr('height', 20)
            .attr('width', 20)
            .call(drag(simulation))
            .on("click", onNodeClicked);
    }

    function createLinks() {

        for (let node of nodesStore){
            console.log(node.fields.children);
            children = JSON.parse(node.fields.children);
            if (children['children'] != null){
                for (let child_id of children['children']){
                    linksStore.push({ source: node.id, target: child_id });
                }
                console.log(linksStore);
            }
            else{
                console.log("Unlinked node");
            }
        }

        for (let link of linksStore) {
            let sourceNode = nodesStore.find(elem => elem['id'] === link.source);
            let targetNode = nodesStore.find(elem => elem['id'] === link.target);
            if (sourceNode.filtered || targetNode.filtered) {
                link['filtered'] = true;
            }
            else {
                link['filtered'] = false;
            }
        }
    }

    function updateLinks() {
        var u = d3.select('.links')
            .selectAll('line')
            .data(linksStore.filter(link => !link.filtered), function (d) { return d.id; })
            .join('line')
            .attr('x1', function (d) {
                return d.source.x
            })
            .attr('y1', function (d) {
                return d.source.y
            })
            .attr('x2', function (d) {
                return d.target.x
            })
            .attr('y2', function (d) {
                return d.target.y
            })
            .attr('stroke', "black")
            .attr('stroke-opacity', 0.4);
    }

    function updateNodes() {
        var u = d3.select('.nodes')
            .selectAll('image')
            .data(nodesStore.filter(node => !node.filtered), function (d) { return d.id; })
            .join('image')
            .attr('x', function (d) {
                return d.x
            })
            .attr('y', function (d) {
                return d.y
            })
            .attr('href', function (d) {
                let modelSplit = d.model.split(".");
                let path = imgPath + modelSplit[1];
                if (d.is_clamav_suspicious){
                    path += "_red.svg";
                }
                else{
                    path += ".svg";
                }
                return path;
            })
            .call(drag(simulation));

    }

    function ticked() {
        updateLinks();
        updateNodes();
    }

    function sidebarTriggered(data) {
        document.getElementById("sidebar-icon").setAttribute("src", imgPath + data.model.split(".")[1] + ".svg");
        document.getElementById("name").innerHTML = data.id;
        let table = document.getElementById("sidebar-table");
        table.replaceChildren();
        for (let [key, value] of Object.entries(data.fields)) {
            if (hidden_fields.some(field => field === key)) {
                continue;
            }
            else if (extensible_fields.some(field => field === key)) {
                get_object_details(data.model, key, data.id);
            }
            else {
                insertValueIntoSidebar(key,value);
            }
        }
    }

    function insertValueIntoSidebar(key, value) {
        let table = document.getElementById("sidebar-table");
        if (!(typeof(value) === "object") || value === null){   
            let row = table.insertRow();
            let th = document.createElement("td");
            th.classList.add("key");
            let text = document.createTextNode(key);
            th.appendChild(text);
            row.appendChild(th);
            th = document.createElement("td");
            th.classList.add("value");
            text = document.createTextNode(value);
            th.appendChild(text);
            row.appendChild(th);
        }
        else{
            for(let [k, v] of Object.entries(value.fields)){
                insertValueIntoSidebar(k, v);
            }
        }
    }

    function get_object_details(model_name, field, id) {
        const csrf = document.getElementsByName('csrfmiddlewaretoken');
        const fd = new FormData();
        fd.append('csrfmiddlewaretoken', csrf[0].value);
        fd.append('model', model_name);
        fd.append('field', field);
        fd.append('object_id', id);
        let details;
        $.ajax({
            type: 'POST',
            url: "{% url 'get_model_object' %}",
            enctype: 'multipart/form-data',
            data: fd,
            beforeSend: function () {
            },
            success: function (response) {
                result = JSON.parse(response)[0];
                insertValueIntoSidebar(result.model,result);
            },
            error: function (error) {

            },
            cache: false,
            contentType: false,
            processData: false
        });
    }

    function onNodeClicked(d) {
        sidebarTriggered(d.target.__data__);
        openSidebar();
    }

    // Drag on nodes function

    function drag(simulation) {
        function dragstarted(event) {
            if (!event.active) simulation.alphaTarget(0.3).restart();
            event.subject.fx = event.subject.x;
            event.subject.fy = event.subject.y;
        }

        function dragged(event) {
            event.subject.fx = event.x;
            event.subject.fy = event.y;
        }

        function dragended(event) {
            if (!event.active) simulation.alphaTarget(0);
            event.subject.fx = null;
            event.subject.fy = null;
        }

        return d3.drag()
            .on("start", dragstarted)
            .on("drag", dragged)
            .on("end", dragended);
    }

    function openSidebar() {
        document.getElementById("sidebar").style.width = "20em";
        document.getElementById("main").style.marginRight = "20em";
    }

    function closeSidebar() {
        document.getElementById("sidebar").style.width = "0";
        document.getElementById("main").style.marginRight = "0";
    }

    // Activate Zoom

    function handleZoom(e) {
        d3.selectAll('#graph g')
            .attr('transform', e.transform);
    }

    svg.call(d3.zoom().on('zoom', handleZoom));

    createNodes();
    createLinks();

    var simulation = d3.forceSimulation(nodesStore)
        .force('charge', d3.forceManyBody())
        .force('center', d3.forceCenter(window.innerWidth / 2, window.innerHeight / 2))
        .force("collide", d3.forceCollide().radius(function (d) {
            return d.radius
        }))
        .force('link', d3.forceLink().links(linksStore).distance(200).id(function (d) { return d.id; }))
        .on('tick', ticked);

    function filter() {

        let show_commands = document.getElementById("commands").checked;
        let show_suspicious_only = document.getElementById("suspicious").checked;
        let show_connections = document.getElementById("connections").checked;
        let show_dlls = document.getElementById("dlls").checked;
        let filtered_nodes = [];
        for (let node of nodesStore) {
            node["filtered"] = false;
            if (!show_commands) {
                if (node.model === "analyser.command") {
                    node["filtered"] = true;
                    filtered_nodes.push(node);
                }
            }

            if (!show_dlls) {
                if (node.model === "analyser.dll") {
                    node["filtered"] = true;
                    filtered_nodes.push(node);
                }
            }

            if (!show_connections) {
                if (node.model === "analyser.connection") {
                    node["filtered"] = true;
                    filtered_nodes.push(node);
                }
            }

            if (show_suspicious_only) {
                if (!node["is_clamav_suspicious"]) {
                    node["filtered"] = true;
                    filtered_nodes.push(node);
                }
            }

        }
        for (let link of linksStore) {
            link.filtered = false;
            if (filtered_nodes.some(node => node.id === link.source.id) || filtered_nodes.some(node => node.id === link.target.id)) {
                link.filtered = true;
            }
        }

        var u = d3.select('.nodes')
            .selectAll('image')
            .data(nodesStore.filter(node => !node.filtered), function (d) { return d.id; });
        u.exit().remove();
        u.enter().append('image')
            .attr('height', 20)
            .attr('width', 20)
            .attr('href', function (d) {
                let modelSplit = d.model.split(".");
                let path = imgPath + modelSplit[1] + ".svg";
                return path;
            })
            .attr('x', function (d) {
                return d.x
            })
            .attr('y', function (d) {
                return d.y
            })
            .call(drag(simulation))
            .on("click", onNodeClicked);

        var u = d3.select('.links')
            .selectAll('line')
            .data(linksStore.filter(link => !link.filtered), function (d) { return d.id; });

        u.exit().remove();
        u.enter().append('line')
            .attr('x1', function (d) {
                return d.source.x
            })
            .attr('y1', function (d) {
                return d.source.y
            })
            .attr('x2', function (d) {
                return d.target.x
            })
            .attr('y2', function (d) {
                return d.target.y
            })
            .attr('stroke', "black")
            .attr('stroke-opacity', 0.4);

        ticked();
    }

    for (checkbox of document.getElementsByClassName("filter-checkbox")) {
        checkbox.addEventListener('change', function (event) {
            console.log("filter");
            filter();
        })
    }

    $(document).ready(function () {
        $('.container').show();
        $('.container-fluid').show();
        $('.spinner-main').hide();
        $('.main').show();
        $('.svg').show();
    });
</script>
{% endblock content %}